
/* Id selector rules */
#root{
    font-family: 'Helvetica', 'Arial', sans-serif;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    color: #888888;
    display: block;
    min-width: 980px;
}

#header{
    text-align: center;
    color: #FFFFFF;
    background-color: #707070;
    padding: 50px;
}

#response{
    max-width: 1000px;
    margin: 0 auto;
    
}

#products{
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
}

#centerText{
    font-size: 18px;
    font-weight: bold;
    margin: 50px;
}
/* Product card rules */
#productCard{
    width: 201px;
    height: 350px;
    float: left;
    margin: 20px;
    margin-bottom: 40px;
    text-align: left;
}

#productImage{
    border:1px solid #707070;
}

#productName{
    font-size: 14px;
    font-weight: 200;
}

#productPrice{
    font-size: 16px;
    font-weight: bold;
}
/* ----- */
/* Button rules */
#BtnComprar {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    color: #888888;

}

#BtnAction, #BtnForm{
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    width: 260px;
    height: 39px;
    font-size: 16px;
    padding: 5px;
    margin-top: 23px;
    color: #707070;
    margin-bottom: 140px;
 
}

#BtnForm{
    margin-top: 50px;
}

#BtnMenu{
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #00000029;
    border-radius: 4px;
    opacity: 1;
    width: 160px;
    height: 40px;
    font-size: 14px;
    padding: 5px;
    margin-top: 20px;
    color: #707070;
    margin-right: 40px;
    box-shadow: 0px 1px 6px #00000029;
}
/* ------ */
/* Newsletter and from rules */
#newsletter{
    width: 100%;
    text-align: center;
    position: relative;
    display: grid;
}

#inputCombo{
    text-align: left;
    display: inline-block;
}

#inputFieldName, #inputFieldEmail{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: #707070;
    font-size: 16px;
    border: 1px solid #707070;
    opacity: 1;
    height: 30px;
    width: 333px;
    margin-right: 40px;
    margin-top: 7px;
    padding-left: 5px;
}
/* ----- */
/* Footer rules */
#footer{
    width: 100%;
    background: #707070 0% 0% no-repeat padding-box;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

#footerText{
    margin: 0px;
}
/* ------ */
/* General purpose Tag selectors */
body{
    display: block;
    margin: 0px;
}

li{
    display: block;
}

p{
    font-size: 12px;
    font-weight: 100;
}

h1{
    font-size: 40px;
    margin: 0px;
}

h3{
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 10px;
}

h4{
    text-align: center;
}

h5{
    font-weight: 200;
    font-size: 14px;
}

label{
    font-size: 12px;
}
/* ----- */